<%= render 'shared/title', title: "Welcome, #{@user.firstname}" %>

<p>
  <% if @user.meals.any? %>
    Your Meals:
  <% end %>
  <ul>
    <% @user.meals.each do |meal| %>
      <li><%= meal.category %>: <%= meal.description %></li>
    <% end %>
  </ul>
</p>
